@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpersEx
@addTagHelper *, TextWebPlugIn

@model TextWebPlugIn.Pages.MainPageModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            Welcome Editor Text
        </h5>
    </div>
    <div class="card-body">
        Please, create many text by Editor.
    </div>
</div>

@foreach (var cmsViewModel in Model.CmsViewModelList) {
    @cmsViewModel.Name;
}