@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpersEx
@addTagHelper *, TextWebPlugIn

@model TextWebPlugIn.Pages.MainPageModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            Welcome Editor Text
        </h5>
    </div>
    <div class="card-body">
        Please, create many text by Editor.
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            Choose your text to edit or create a new text:
        </h5>
    </div>
    <div class="card-body">
        @foreach (var cmsViewModel in Model.CmsViewModelList) {
            <div>
                <span class="glyphicon glyphicon-arrow-right"></span>
                <a href="/Editors/Editor/@cmsViewModel.Id">@cmsViewModel.Name</a>
            </div>
        }
    </div>
</div>